.pagination {
  text-align: center;
  display: block;

  > li {
    display: inline-block;

    a {
      border: none;
    }

    &.active {
      a {
        background-color: @gray-lighter;
        color: @gray;
      }
    }
  }
}
