.abs-box(@top: 0, @right: 0, @bottom: 0, @left: 0) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.truncate (@max-width) {
  max-width: @max-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shadow (@color: @shadow-color) {
  box-shadow: /*1px 1px 0 0 @color,
              2px 2px 0 0 @color,
              3px 3px 0 0 @color,
              4px 4px 0 0 @color,*/
              5px 5px 0 0 @color;
}

.gradient(@origin: top, @start: rgba(255, 255, 255, 0), @stop: rgba(255, 255, 255, 1)) {
  background-color: @start;
  background-image: -webkit-linear-gradient(@origin, @start, @stop);
  background-image:    -moz-linear-gradient(@origin, @start, @stop);
  background-image:      -o-linear-gradient(@origin, @start, @stop);
  background-image:     -ms-linear-gradient(@origin, @start, @stop);
  background-image:         linear-gradient(@origin, @start, @stop);
}


.link(@color, @hover-color) {
  a {
    color: @color;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
      color: @hover-color;
    }
  }

  a {
    display: inline-block;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      display: inline-block;
      content: '';
      border-bottom: 1px dotted mix(@color, @body-bg);
    }
  }
}

.link-no-decoration() {
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:after {
      display: none;
    }
  }
}

.hamburger-button() {
  border: none;
  background-color: transparent;
  outline: none;

  > span {
    height: 2px;
    display: block;
    width: 100%;
    min-width: 16px;
    margin: 3px 0;
    background-color: @navbar-default-link-color;
    transition: transform 0.218s ease,
                opacity 0.218s ease;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover {
    span {
      background-color: @navbar-default-link-hover-color;
      &:first-of-type {
        transform: translateY(-2px);
      }
      &:last-of-type {
        transform: translateY(2px);
      }
    }
  }
}

.hamburger-button-open() {
  > span {
    opacity: 0;
    &:first-of-type {
      opacity: 1;
      transform: translateY(5px) rotateZ(45deg);
    }
    &:last-of-type {
      opacity: 1;
      transform: translateY(-5px) rotateZ(-45deg);
    }
  }
}


.navbar-a() {
  font-size: @menu-font-size;
  line-height: @menu-line-height;
  color: @navbar-default-link-color;

  &:hover,
  &:focus {
    background-color: transparent;
    color: @navbar-default-link-hover-color;
  }
}

.navbar-li(
  @border-width: 5px;
  @hover-bg: @navbar-default-link-hover-bg;
  @hover-color: @navbar-default-link-hover-color;
  @active-color: @navbar-default-link-active-color;
  @active-bg: @navbar-default-link-active-bg;
  @height: @header-computed-height
) {
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  height: @height;
  border-bottom: @border-width solid transparent;
  transition: border-color 0.218s ease;

  &:hover,
  &:focus {
    border-bottom: @border-width solid @hover-bg;
    &.external {
      border-bottom-color: transparent;
    }
  }

  &.active,
  &.active:hover,
  &.active:focus {
    border-bottom: @border-width solid @active-bg;
  }

  > a,
  > view > a {
    .navbar-a();
    display: inline-block;
    padding: 0 @padding-base-horizontal;
    line-height: @height;
    @media (max-width: 875px) {
      padding: 0 (@padding-base-horizontal * 0.5);
    }
  }

  &.divider {
    width: 1px;
    background-color: darken(@gray-lighter, 10%);
    display: block;
    height: @height;
    margin: 0;
    border: none;
  }
}

.menu-a(
  @size: @menu-font-size;
  @line-height: @menu-line-height;
  @hover-color: @navbar-default-link-hover-bg;
) {
  display: block;
  font-size: @size;
  line-height: @line-height;
  color: @navbar-default-link-color;
  padding: 0 @padding-base-horizontal;
  text-decoration: none;
  position: relative;
  background-color: transparent;


  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    bottom: 0;
    width: 3px;
    border: none;
  }

  &:before {
    left: 0;
    right: auto;
  }
  &:after {
    left: auto;
    right: 0;
  }
}

.menu-li(
  @hover-color: @navbar-default-link-hover-bg;
  @active-color: @navbar-default-link-active-bg;
  @size: @menu-font-size;
  @line-height: @menu-line-height;
) {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0 0 @padding-base-vertical 0;

  a {
    .menu-a(@size, @line-height, @hover-color);

    &:hover {
      &:before,
      &:after {
        background-color: @hover-color;
      }
    }
  }

  &.active {
    > a {
      color: @navbar-default-link-active-color;
    }
    > a:before,
    > a:after,
    > a:hover:before,
    > a:hover:after {
      background-color: @active-color;
    }
  }
}

.menu-ul(
  @size;
  @line-height;
  @hover-color: @navbar-default-link-hover-bg;
  @active-color: @navbar-default-link-active-bg;
) {
  display: block;
  margin: 0;
  padding: 0;

  li {
    .menu-li(@hover-color, @active-color, @size, @line-height);
  }
}
