@import "cam-bootstrap.less";
@import "cam-common.less";
@import "_opensans-font.less";


@font-family-sans-serif:      'open_sansregular', Helvetica, Arial, Verdana, sans-serif;
@font-size-base:              16px;
@line-height-base:            1.6;
@navbar-font-size:            14px;

@headings-font-weight:        400;
@headings-font-family:        @font-family-base;


@cam-header-link-color: #5A5A5A;
@cam-header-link-hover-color: darken(@cam-header-link-color, 15%);

.cam-header() {
  .link(@cam-header-link-color, @cam-header-link-hover-color);
}
