.form-control {
  border-width: 0 0 @cam-input-border-width 0;
  border-bottom-style: @cam-input-border-style;
  .box-shadow(none);

  &:focus {
    .box-shadow(none);
  }

  &[required] {
    border-style: @cam-input-required-border-style;
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
    height: auto;
  }


  &.ng-dirty {
    &.ng-invalid {
      color: @state-danger-text;
      border-color: @state-danger-text;
      // background-color: @state-danger-bg;
    }
  }
}

textarea.form-control {
  border-width: 0 0 0 @cam-input-border-width;
  border-style: @cam-input-border-style;

  &[required] {
    border-style: @cam-input-required-border-style;
  }

  &:focus {
    border-color: @input-border-focus;
  }
}

:not(.form-inline) {
  .form-control {
    // &[type=button],
    // &[type=checkbox],
    &[type=color],
    &[type=date],
    &[type=datetime],
    &[type=email],
    // &[type=file],
    // &[type=hidden],
    &[type=image],
    &[type=month],
    &[type=number],
    &[type=password],
    // &[type=radio],
    &[type=range],
    &[type=min],
    &[type=max],
    &[type=value],
    &[type=step],
    // &[type=reset],
    &[type=search],
    // &[type=submit],
    &[type=tel],
    &[type=text],
    &[type=time],
    &[type=url],
    &[type=week] {
      padding-left: 0;
      padding-right: 0;
    }

    &.padded {
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
    }
  }

  select.form-control {
    padding-left: 0;
    padding-right: 0;

    &.padded {
      padding-left: @padding-base-horizontal;
      padding-right: @padding-base-horizontal;
    }
  }
}

.input-group .form-control {
  border-width: 1px;
  border-style: solid;

  &:not([type=checkbox]),
  &:not([type=radio]) {
    padding-left: @padding-base-horizontal;
    padding-right: @padding-base-horizontal;
  }
}

.help-block {
  margin-top: @padding-base-vertical;
  font-size: 90%;
}

.control-group {
  padding-top: @padding-base-vertical;
  padding-bottom: @padding-base-vertical;

  .help {
    .help-block;
  }
}

.disabled-form {
  position: relative;

  &:before {
    display: block;
    content: ' ';
    background-color: fade(@body-bg, 33%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    z-index: 1000;
  }
}

