@import "cam-variables.less";

@brand-logo:      'resources/img/camunda-logo.png';
// @header-height:   41px;

@bpmn-font-path:  "./node_modules/bpmn-font/dist/font/";
@icon-font-path:  "./node_modules/bootstrap/fonts/";
@font-path:       "./vendor/fonts/";

@import "cam-bootstrap.less";
@import "cam-common.less";
@import "cam-sites-common.less";

@import "inline-field/cam-widget-inline-field";
@import "bpmn-viewer/cam-widget-bpmn-viewer";
@import "dmn-viewer/cam-widget-dmn-viewer";
@import "footer/cam-widget-footer";
@import "header/cam-widget-header";
@import "inline-field/cam-widget-inline-field";
@import "loader/cam-widget-loader";
@import "search/cam-widget-search";
@import "search-pill/cam-widget-search-pill";
@import "variable/cam-widget-variable";
@import "variables-table/cam-widget-variables-table";

@dmn-font-path: '../../vendor/fonts/';
@import "../../node_modules/dmn-js/styles/dmn-font";

// custom styles for the testing suite -----------------------------------------

body {
  padding-top: 0;
  > header,
  > .page-wrapper {
    .container-fluid();
  }

  > header {
    .cam-header();
    border-bottom: @header-border-bottom-width solid @header-border-bottom-color;
    height: @header-height;

    h1 {
      font-size: 20px;
      height: @header-computed-height;
      line-height: @header-computed-height;
      margin: 0;
      &:before {
        font-family: bpmn;
        font-weight: normal;
        content: '\e831';
        display: inline-block;
        margin-right: (@grid-gutter-width / 2);
      }
    }

    a,
    a:hover,
    small {
      color: @body-bg;
      margin-right: (@grid-gutter-width / 2);
    }
  }

  > .page-wrapper {
    @media (min-width: @screen-sm-min) {
      width: @container-sm;
    }
    @media (min-width: @screen-md-min) {
      width: @container-md;
    }
    @media (min-width: @screen-lg-min) {
      width: @container-lg;
    }
  }

  &.gh-pages {
    h1,
    h2,
    h3,
    h4 {
      font-weight: 100;
    }

    h1 {
      text-transform: uppercase;
    }

    &.readme .content {
      margin-top: 10px;
    }

    > .page-wrapper {
      padding-left: 160px;
      > nav {
        width: (160px - @grid-gutter-width);
        position: fixed;
        margin: 0;
        overflow: auto;
        left: (@grid-gutter-width / 2);
        top: 60px;
        bottom: @grid-gutter-width * 1.5;

        li {
          display: block;
        }

        a {
          display: inline-block;
          font-size: 1.2em;
        }

        .active a {
          text-decoration: underline;
        }
      }
    }
  }

  > footer,
  > footer > nav {
    text-align: right;
    overflow: hidden;
  }
}

dd {
  padding-left: @grid-gutter-width;
  max-width: 550px;
}
dt + dd {
  margin-bottom: (@grid-gutter-width / 2);
}
dd li {
  margin-top: (@grid-gutter-width / 2);
}

.widget-description,
.widget-reference {
  font-size: 16px;
  line-height: 22px;
}

.widget-reference {
  dt {
    font-family: monospace;

    > .function-definition {
      color: @gray-light;
      font-weight: lighter;

      > .params {
        font-style: italic;
      }

      > .returns {
        font-weight: bolder;
      }
    }
  }
}

.widget-example {
  margin: (@grid-gutter-width / 2) 0;
  padding: (@grid-gutter-width / 2) 0;
  [ng-non-bindable] {
    margin-bottom: @grid-gutter-width;
  }
}

.test-container {
  .container;
  width: 100% !important;
  position: relative;
  background-color: @gray-lighter;
  padding: @grid-gutter-width;
}


// overrides for tests

// header
.cam-widget-header-test-page .test-container {
  padding-top: @header-height;
  .test-container {
    overflow: hidden;
    min-height: 200px;
  }
}

.test-container > [cam-widget-header],
.test-container > [cam-widget-footer] {
  position: absolute;
}
